.shoppingList {
    display: block;
    color: brown;
    width: 100%;
    float: right;
    min-height: 75vh;
    white-space: normal;
    overflow-x: scroll;
    margin: -70px 0 0;
    padding: 20px;
}